body { 
	max-width: 700px;
	margin: 0 auto;
	background-color: #a0a0a0;
	padding: 60px;
}

header {
	text-align: center;
	text-transform: uppercase;
	color: yellow;
}

main {
	text-align: center;
	color: yellow;
	font-size: 20px;
	padding: 20px;
}